.section-title {
	display: block;
	line-height: normal;
	margin: 0 0 120px 0;
	font-family: $beba;
	font-size: 54px;
	text-transform: uppercase;

	@media screen {
		@media (max-width: 991px) {
			margin: 0 0 70px 0;
			font-size: 46px;
		}

		@media (max-width: 767px) {
			margin: 0 0 40px 0;
			font-size: 38px;
		}

		@media (max-width: 575px) {
			text-align: center;
		}
	}
}

.title-holder {
	margin: 0 0 90px 0;

	.section-title {
		margin: 0 0 55px 0;
	}

	p {
		max-width: 70%;
		margin: 0 auto;
		line-height: 2;

		@media screen {
			@media (max-width: 767px) {
				max-width: 100%;
			}
		}
	}
}

.hero-slider {
	position: relative;
	padding: 210px 0 175px 0;
	margin: 0 0 90px 0;
	min-height: 570px;
	background: url('../img/hero-slider-bg.png') center top no-repeat;
	background-size: cover;

	@media screen {
		@media (max-width: 767px) {
			min-height: 1px;
			padding: 130px 0;
			margin: 0 0 40px 0;
		}
	}

	> .container {
		position: relative;
	}

	.text {
		width: 100%;
		text-align: center;

		h1 {
			display: inline-block;
			max-width: 650px;
			line-height: .9;
			margin: 0 auto;
			font-family: $beba;
			font-size: 79px;
			text-transform: uppercase;

			@media screen {
				@media (max-width: 991px) {
					max-width: 80%;
					line-height: normal;
					font-size: 60px;
				}

				@media (max-width: 767px) {
					max-width: 100%;
					font-size: 45px;
				}
			}

			small {
				display: block;
				margin: 0 0 18px 0;
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
				font-size: 20px;

				@media screen {
					@media (max-width: 767px) {
						font-size: 18px;
					}
				}
			}
		}
	}

	.scroll-action {
		position: absolute;
		bottom: 95px;
		left: 0;
		right: 0;
		width: 3px;
		height: 55px;
		margin: 0 auto;
		background-color: #242424;
		z-index: 2;

		@media screen {
			@media (max-width: 991px) {
				display: none;
			}
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 55px;
			width: 3px;
			margin: 0 auto;
			border-bottom: 0 solid #93c26f;
			-webkit-animation-name: up_down;
			-moz-animation-name: up_down;
			-o-animation-name: up_down;
			-ms-animation-name: up_down;
			animation-name: up_down;
			animation-iteration-count: infinite;
			-moz-animation-iteration-count: infinite;
			-ms-animation-iteration-count: infinite;
			-o-animation-iteration-count: infinite;
			-webkit-animation-duration: 3s;
			-moz-animation-duration: 3s;
			-o-animation-duration: 3s;
			-ms-animation-duration: 3s;
			animation-duration: 3s;	
		}

		@-webkit-keyframes up_down {
			0% {
			   	border-width: 45px;
			}

			50% {
			   	border-width: 0px;
			}

			100% {
			   	border-width: 45px;
			}
		}

		@-moz-keyframes up_down {
			0% {
			   	border-width: 45px;
			}

			50% {
			   	border-width: 0px;
			}

			100% {
			   	border-width: 45px;
			}
		}

		@-o-keyframes up_down {
			0% {
			   	border-width: 45px;
			}

			50% {
			   	border-width: 0px;
			}

			100% {
			   	border-width: 45px;
			}
		}

		@-ms-keyframes up_down {
			0% {
			   	border-width: 45px;
			}

			50% {
			   	border-width: 0px;
			}

			100% {
			   	border-width: 45px;
			}
		}

		@keyframes up_down {
			0% {
			   	border-width: 45px;
			}

			50% {
			   	border-width: 0px;
			}

			100% {
			   	border-width: 45px;
			}
		}			
	}	
}

.product {
	position: relative;
	top: 0;
	border: 1px solid transparent;
	text-align: center;
	@include transition();

	@media screen {
		@media (min-width: 992px) {
			&:hover {
				top: -20px;
				border-color: #d1d1d1;
				-webkit-box-shadow: 0px 23px 32px 0px rgba(0,0,0,0.1);
				-moz-box-shadow: 0px 23px 32px 0px rgba(0,0,0,0.1);
				box-shadow: 0px 23px 32px 0px rgba(0,0,0,0.1);
			}			
		}
	}

	.thumbnail {
		a {
			display: block;
			min-height: 280px;
		}
	}

	.details {
		padding: 0 50px 15px 50px;

		@media screen {
			@media (max-width: 767px) {
				padding: 0;
			}
		}

		.name {
			margin: 0 0 20px 0;
			line-height: 1.5;
			font-size: 18px;

			a {
				font-weight: 700;
				font-size: 18px;
			}
		}

		.price {
			font-family: $beba;
			font-size: 32px;
			color: #93c26f;

			.old-price {
				display: block;
				font-style: normal;
				font-size: 20px;
				color: #242424;
				text-decoration: line-through;
			}
		}
	}
}

.product-view {
	.gallery {
		padding: 0 0 28.5px 0;
		border: 1px solid #e5e5e5;

		.carousel-inner {
			.carousel-item {
				a {
					display: block;
					height: 480px;
				}
			}
		}

		.carousel-indicators {
			position: static;
			margin: 0;

			li {
				width: 80px;
				height: 80px;
				margin: 8.5px;
				border: 1px solid #e5e5e5;
				text-indent: 0;
				@include transition();

				@media screen {
					@media (max-width: 767px) {
						width: 65px;
						height: 65px;
					}
				}

				&.active {
					background-color: #ededed;
				}

				@media screen {
					@media (min-width: 992px) {
						&:hover {
							background-color: #ededed;
						}
					}
				}
			}
		}
	}

	.summary {
		padding: 38px 60px 0 95px;

		@media screen {
			@media (max-width: 1199px) {
				padding: 38px 0 0 30px;
			}

			@media (max-width: 991px) {
				padding: 0;
				margin: 30px 0 0 0;
			}
		}

		.product-name {
			margin: 0 0 30px 0;
			line-height: normal;
			font-weight: 700;
			font-size: 30px;

			@media screen {
				@media (max-width: 767px) {
					font-size: 24px;
				}
			}
		}	

		.price {
			display: block;
			margin: 0 0 41px 0;
			font-family: $beba;
			font-size: 44.8px;
			color: #93c26f;
			text-transform: uppercase;

			@media screen {
				@media (max-width: 767px) {
					font-size: 36px;
				}
			}

			.old-price {
				display: inline-block;
				margin: 0 0 0 10px;
				color: #242424;
				font-size: 28px;
				font-style: normal;
				text-decoration: line-through;

				@media screen {
					@media (max-width: 767px) {
						font-size: 22px;
					}
				}
			}
		}

		.features {
			margin: 0 0 48px 0;

			li {
				margin: 0 0 23px 0;

				&:last-child {
					margin: 0;
				}

				strong {
					font-weight: 600;
				}
			}
		}

		.contact-btn {
			display: block;
			width: 100%;
		}
	}

	.tabs-block {
		margin: 45px 0 0 0;

		.nav-tabs {
			border-bottom: 1px solid #e5e5e5;

			@media screen {
				@media (max-width: 767px) {
					display: block;
					text-align: center;
				}
			}

			.nav-item {
				margin: 0 0 -1px 0;
			    padding: 24.5px 90px;
			    border-color: #e5e5e5;
			    line-height: normal;
				font-family: $beba;
				font-size: 23px;
				color: #242424;
				text-transform: uppercase;
				@include rounded(0);

				@media screen {
					@media (max-width: 991px) {
						padding: 15px 40px;
					}
				}
			}
		}

		.tab-content {
			border: 1px solid #e5e5e5;
			border-top: 0;

			.tab-pane {
				padding: 61px 65px 62px 65px;

				@media screen {
					@media (max-width: 991px) {
						padding: 30px;
					}
				}

				h2, h3, h4 {
					margin: 0 0 52px 0;
					font-weight: 700;
					line-height: normal;

					@media screen {
						@media (max-width: 767px) {
							margin: 0 0 30px 0;
							font-size: 18px;
						}
					}
				}

				ul {
					li {
						margin: 0 0 13px 0;
						line-height: normal;
						font-weight: 400;

						&:last-child {
							margin: 0;
						}
					}
				}
			}
		}
	}
}

.products-list {
	.row {
		[class*="col-"] {
			margin: 0 0 105px 0;

			@media screen {
				@media (max-width: 991px) {
					margin: 0 0 30px 0;

					.product {
						border-color: #e5e5e5;
					}
				}

				@media (max-width: 767px) {
					.product {
						.details {
							padding-bottom: 30px;
						}
					}
				}
			}
		}
	}
}

.sort-by {
	padding: 13.5px 20px;
	margin: 0 0 150px 0;
	border: 1px solid #e5e5e5;

	@media screen {
		@media (max-width: 991px) {
			margin: 0 0 60px 0;
		}		
	}


	.links {
		@media screen {
			@media (max-width: 575px) {
				-border-left-widthms-flex-pack: center!important;
	    		justify-content: center!important;
	    	}
	    }


		li {
			margin: 0 17px 0 0;

			&:last-child {
				margin: 0;
			}

			a {
				font-size: 21px;
				font-family: $beba;
				color: #939393;
				text-transform: uppercase;

				&.active {
					color: #242424;
				} 

				@media screen {
					@media (min-width: 768px) {
						&:hover {
							color: #242424;
						}
					}
				}
			}
		}
	}
}

.section {
	&.contact-form {
		padding: 80px 0 0 0;
		border-top: 1px solid #e3e3e3;

		.message {
			margin: 20px 0 50px 0;
			font-size: 16px;

			strong {
				font-weight: 700;
			}
		}

		form {
			@media scren {
				@media (min-width: 992px) {
					label {
						padding-left: 7px; 
					}					
				}
			}

			button[type="submit"],
			input[type="submit"] {
				min-width: 180px;

				@media screen {
					@media (max-width: 767px) {
						width: 100%;
						min-width: 1px;
					}
				}
			}
		}
	}

	&.articles {
		margin: 0 0 145px 0;

		@media screen {
			@media (max-width: 991px) {
				padding-bottom: 50px;
				margin: 0 0 70px 0;
				border-bottom: 1px solid #eee;
			}
		}

		.row {
			@media screen {
				@media (min-width: 1200px) {
					margin: 0 -33px;

					[class*="col-"] {
						padding: 0 33px;

						&:nth-child(2) {
							.details {
								order: 1;
								padding: 62px 50px 50px 50px;
							}

							.thumbnail {
								order: 2;
							}
						}
					}					
				}

				@media (max-width: 767px) {
					[class*="col-"] {
						&:last-child {
							.post-article {
								padding-bottom: 0;
								margin-bottom: 0;
								border-bottom: 0;
							}
						}
					}
				}
			}
		}

		.post-article {
			text-align: center;

			@media screen {
				@media (max-width: 767px) {
					padding-bottom: 40px;
					margin-bottom: 40px;
					border-bottom: 1px solid #eee;
				}
			}

			.thumbnail {
				margin: 0 0 44px 0;

				@media screen {
					@media (max-width: 991px) {	
				    	margin: 0 0 20px 0;
				    }
				}

				a {
					position: relative;
					display: block;
					overflow: hidden;

					@media screen {
						@media (min-width: 992px) {
							&::before, &::after {
								content: '';
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								margin: auto;
								width: 70px;
								height: 70px;
								background-color: transparent;
								@include transition();
							}

							&::after {
								left: -150%;
								width: 33px;
								height: 19px;
								background: url('../img/sprite.png') -8px -41px no-repeat;
							}
						}
					}
				}
			}

			.details {
				padding: 0 50px 80px 50px;

				@media screen {
					@media (max-width: 1199px) {
						padding: 0 0 30px 0;
					}

					@media (max-width: 767px) {
						padding: 0;
					}
				}

				.name {
					margin: 0 0 21px 0;
					line-height: normal;

					a {
						font-family: $beba;
						font-size: 44px;
						text-transform: uppercase;

						@media screen {
							@media (max-width: 991px) {
								font-size: 32px;
							}
						}
					}
				}

				p {
					margin: 0;
					line-height: 1.7;
				}
			}

			@media screen {
				@media (min-width: 992px) {
					&:hover {
						.thumbnail {
							a {
								&::before {
									background-color: #fff;
								}

								&::after {
									left: 0;
								}
							}
						}
					}					
				}
			}
		}
	}

	&.shop {
		margin: 0 0 118px 0;

		.section-title {
			margin: 0 0 29px 0;
		}

		.shop-tabs {
			.nav-tabs {
				margin: 0 0 95px 0;
				border: 0;

				@media screen {
					@media (max-width: 991px) {
						margin: 0 0 15px 0;
					}
				}

				.nav-item {
					margin: 0 10px;

					.nav-link {
						padding: 0;
						margin: 0;
						border: 0;
						font-size: 21px;
						font-family: $beba;
						color: #bcbcbc;
						text-transform: uppercase;

						&.active {
							color: #93c26f;
						}
					}
				}
			}
		}

		.owl-carousel {
			.owl-item {
				> div {
					@media screen {
						@media (min-width: 992px) {
							padding: 20px 0;
						}
					}
				}
			}

		    .owl-nav {
		        .owl-prev {
		            left: -100px;

		            @media screen {
		            	@media (max-width: 1350px) {
		            		left: -30px;
		            	}

		            	@media (max-width: 1199px) {
		            		left: -20px;
		            	}

		            	@media (max-width: 991px) {
		            		left: -40px;
		            	}

		            	@media (max-width: 820px) {
		            		left: -25px;
		            	}
		            }
		        }

		        .owl-next {
		            right: -100px;

		            @media screen {
		            	@media (max-width: 1350px) {
		            		right: -30px;
		            	}

		            	@media (max-width: 1199px) {
		            		right: -20px;
		            	}

		            	@media (max-width: 991px) {
		            		right: -40px;
		            	}

		            	@media (max-width: 820px) {
		            		right: -25px;
		            	}
		            }
		        }
		    }
		}

		.see-all {
			margin: 80px 0 0 0;

			.btn {
				min-width: 180px;
			}
		}
	}

	&.pricing {
		padding: 80px 0 100px 0;
		background: rgb(248,248,248); 
		background: -moz-linear-gradient(top, rgba(248,248,248,1) 1%, rgba(255,255,255,1) 47%); 
		background: -webkit-linear-gradient(top, rgba(248,248,248,1) 1%,rgba(255,255,255,1) 47%); 
		background: linear-gradient(to bottom, rgba(248,248,248,1) 1%,rgba(255,255,255,1) 47%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 ); 

		@media screen {
			@media (max-width: 991px) {
				padding: 60px 0;
			}

			@media (max-width: 767px) {
				padding: 50px 0;
			}
		}

		.pricing-list {
			@media screen {
				@media (min-width: 1200px) {
					.row {
						margin: 0 -26px;

						[class*="col-"] {
							padding: 0 26px;
						}
					}					
				}

				@media (max-width: 991px) {
					.row {
						[class*="col-"] {
							margin: 0 0 40px 0;
						}
					}
				}
			}

			.table {
				margin: 0;
				border: 1px solid #d1d1d1;

				tr {
					td {
						padding: 15px;
						border: 0;
						border-bottom: 1px solid #d1d1d1;
						border-right: 1px solid #d1d1d1;
						font-size: 14px;
						font-weight: 700;
						text-align: center;
						vertical-align: middle;

						@media screen {
							@media (max-width: 1399px) {
								padding: 8px;
							}
						}

						.price {
							font-size: 32px;
						}

						&:last-child {
							border-right: 0;
							font-weight: 600;

						}
					}
				}

				&.per-device {
					tr {
						td {
							padding-top: 2px;
    						padding-bottom: 2px;
						}
					}
				}
			}

			.price-block {
				min-height: 100%;
				padding: 27px 27px 38px 27px;
				border: 1px solid #e4e4e4;
				text-align: center;

				@media screen {
					@media (max-width: 460px) {
						padding: 27px 20px 25px 20px;
					}
				}

				.plan-name {
					margin: 0 0 45px 0;
					line-height: normal;
					font-size: 38px;
					font-family: $beba;
					text-transform: uppercase;

					@media screen {
						@media (max-width: 1399px) {
							font-size: 32px;
						}

						@media (max-width: 1199px) {
							margin: 0 0 25px 0;
							font-size: 28px;

							span {
								display: block;
								min-height: 58px;
							}
						}
					}

					&::before {
						content: '';
						display: block;
						width: 73px;
						height: 84px;
						margin: 0 auto 45px;
						background: url('../img/sprite.png') no-repeat -13px -73px;
					}
				}

				.devices-amount {
					.title {
						display: block;
						margin: 0 0 18px 0;
						line-height: normal;
						font-size: 24px;
						font-family: $beba;
						text-transform: uppercase;

						@media screen {
							@media (max-width: 1199px) {
								font-size: 22px;
							}
						}
					}

					.radio-list {
						width: 250px;
						margin: 0 auto 35px;
						border: 1px solid #d1d1d1;

						@media screen {
							@media (max-width: 1199px) {
								width: 100%;
							}
						}

						input[type="radio"] {
							display: none;
						}

						label {
							display: block;
							width: 33.33333333%;
							line-height: 53px;
							margin: 0;
							border-right: 1px solid #d1d1d1;
							font-size: 24px;
							font-family: $beba;
							text-align: center;
							cursor: pointer;

							&:last-child {
								border: 0;
							}
						}

						input[type="radio"]:checked + label {
							background-color: #ededed;
						}
					}
				}

				.price {
					display: block;
					font-family: $beba;
					font-size: 49px;
					color: #93c26f;
					text-transform: uppercase;
				}
			}

			.contract-basis {
				margin: 88px 0 0 0;

				@media screen {
					@media (max-width: 1199px) {
						margin: 67px 0 0 0;
					}

					@media (max-width: 991px) {
						margin: 0;
					}
				}
			}
		}

		.electricity-price {
			margin: 45px 0 85px 0;
			border: 1px solid #e4e4e4;
			font-weight: 400;
			font-size: 19px;

			@media screen {
				@media (max-width: 991px) {
					text-align: center;
				}

				@media (max-width: 767px) {
					font-size: 17px;
				}
			}

			[class*="col-"] {
				padding-top: 28px;
    			padding-bottom: 28px;
    			border-right: 1px solid #e5e5e5;

    			@media screen {
					@media (max-width: 991px) {
						padding-top: 0;
						padding-bottom: 0;
						border: 0;

						> div {
							padding: 20px 15px;
							border-bottom: 1px solid #e5e5e5;
						}
					}
				}

    			&:last-child {
    				border: 0;

    				@media screen {
						@media (max-width: 991px) {
							> div {
								border: 0;
							}
						}
					}
    			}
			}

			.b-name {
				line-height: normal;
				font-size: 32px;
				font-family: $beba;
				text-transform: uppercase;

				@media screen {
					@media (max-width: 991px) {
						padding: 20px 10px;
						border-bottom: 1px solid #e5e5e5;
					}
				}
			}

			strong {
				margin: 0 7px;
				font-weight: 700;
				color: #93c26f;
			}
		}

		.learn-more {
			.btn {
				min-width: 180px;
			}
		}

		&.inner {
			padding: 0 0 20px 0;
			background: #fff;

			.plan-name {
				margin: 0 !important;

				@media (max-width: 1199px) {
					span {
						min-height: 1px;
					}
				}
			}

			@media screen {
				@media (max-width: 1199px) {
					.contract-basis {
					    margin: 20px 0 0 0;
					}
				}
			}
		}
	}

	&.included-services {
		.section-title {
			margin: 0 0 100px 0;

			@media screen {
				@media (max-width: 991px) {
					margin: 0 0 50px 0;
				}
			}
		}
	}

	&.price-list {
		margin: 191px 0 0 0;

		@media screen {
			@media (min-width: 992px) {
				.section-title {
					margin: 0 0 100px 0;
				}
			}

			@media (max-width: 991px) {
				margin: 100px 0 0 0;
			}
		}
		
	}
}

.contacts {
	.contacts-details {
		margin: 0 0 96px 0;
		
		.details {
			border: 1px solid #e5e5e5;
			border-bottom: 0;

			.row {
				margin: 0;

				[class*="col-"] {
					min-height: 97px;
					padding: 15px 0;
					border-right: 1px solid #e5e5e5;
					border-bottom: 1px solid #e5e5e5;

					@media screen {
						@media (max-width: 991px) {
							min-height: 1px;
							border-right: 0;
							padding: 30px 15px;
						}
					}

					&:nth-child(3), &:last-child {
						border-right: 0;
					}

					p {
						margin: 0;

						@media screen {
							@media (max-width: 1199px) {
								padding: 0 20px;
								text-align: center;
							}
						}
					
						strong {
							font-weight: 700;
						}

					}

					.phone,
					.email {
						position: relative;
						display: inline-block;
						padding: 0 0 0 60px;
						font-size: 26px;

						@media screen {
							@media (max-width: 991px) {
								word-break: break-all;
							}

							@media (max-width: 575px) {
								font-size: 22px;
							}
						}

						strong {
							font-weight: 700;
						}

						&::before {
							content: '';
							display: inline-block;
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							margin: auto 0;
							background: url('../img/sprite.png') 0 0 no-repeat;
						}
					}

					.phone {
						&::before {
							width: 33px;
							height: 33px;
							background-position: -81px -5px;
						}	
					}

					.email {
						&::before {
							width: 39px;
							height: 28px;
							background-position: -129px -6px;
						}	
					}
				}
			}
		}
	}
}

.vertical-info-list {
	border: 1px solid #e5e5e5;

	ul {
		li {
			padding: 17px 10px;
			border-bottom: 1px solid #e5e5e5;
			font-weight: 700;

			@media screen {
				@media (max-width: 767px) {
					padding: 15px 10px;
					font-weight: 600;
					font-size: 16px;
				}
			}

			&:last-child {
				border-color: transparent;
			}

			span {
				display: inline-block;

				&::before {
					content: '/';
					margin: 0 8px 0 0;
					color: #93c26f;
				}
			}

			.price {
				color: #93c26f;
				font-style: normal;
			}
		}
	}
}

.post.hentry {
	.entry-header {
		.entry-title {
			display: block;
			line-height: normal;
			margin: 0 0 75px 0;
			font-family: $beba;
			font-size: 54px;
			text-transform: uppercase;

			@media screen {
				@media (max-width: 991px) {
					margin: 0 0 70px 0;
					font-size: 46px;
				}

				@media (max-width: 767px) {
					margin: 0 0 40px 0;
					font-size: 38px;
				}

				@media (max-width: 575px) {
					text-align: center;
				}
			}
		}
	}

	.entry-content {
		@media screen {
			@media (max-width: 991px) {
				img {
					display: block;
					margin: 30px auto 30px;
				}
			}
		}

		p {
			line-height: 2.4;
			margin: 0 0 20px 0;

			&:last-child {
				margin: 0;
			}
		}

		.consulting {
			@media screen {
				@media (min-width: 992px) {
					.col-image {
						margin-top: -67px;
					}					
				}
			}
		}
	}
}

.gallery-list {
	margin: 199px 0 0 0;

	@media screen {
		@media (min-width: 992px) {
			.row {
				margin: 0 -42.5px;

				[class*="col-"] {
					padding: 0 42.5px;
				}
			}			
		}

		@media (max-width: 767px) {
			margin: 70px 0 0 0;
		}

		@media (max-width: 575px) {
			.row {
				[class*="col-"] {
					margin: 0 0 15px 0;
					text-align: center;
				}
			}
		}
	}

	.gallery-item {
		display: block;

		@media screen {
			@media (max-width: 575px) {
				display: inline-block;
			}
		}

		img {
			margin: 0;
			border: 35px solid #eee;

			@media screen {
				@media (max-width: 991px) {
					margin: 0 !important;
					border-width: 25px;
				}

				@media (max-width: 767px) {
					border-width: 10px;
				}
			}
		}
	}
}