#main-footer {
    padding: 30px 0;
    margin: 110px 0 0 0;
    border-top: 1px solid #e0e0e0;

    @media screen {
        @media (max-width: 767px) {
            text-align: center;

            .footer-logo {
                img {
                    height: 80px;
                }
            }
        }
    }

    .social-media {
        margin: 0 0 0 70px;

        @media screen {
            @media (max-width: 767px) {
                margin: 20px 0 20px 0; 
            }
        }

        li {
            margin: 0 17px 0 0;

            a {
                display: block;

                &:hover {
                    opacity: .8;
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    .navbar-nav {           
        @media screen {
            @media (max-width: 767px) {
                -ms-flex-pack: center !important;
                justify-content: center !important;
            }
        }

        .nav-item {
            margin: 0 18px 0 0;

            &:last-child {
                margin: 0;
            }

            .nav-link {
                font-size: 19px;
                font-family: $beba;
                letter-spacing: .5px;
                text-transform: uppercase;
            }
        }
    }
}

#nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;

    &.active {
    	display: block;
    }
}