.home {
	#main-header {
		margin: 0;
	}
}

#main-header {
	position: relative;
	margin: 0 0 190px 0;
	border-bottom: 1px solid #e5e5e5;

	@media screen {
		@media (max-width: 767px) {
			margin: 0 0 130px 0;
		}
	} 

	.container-fluid {
		display: block;

		.col, .col-md {
			padding: 0;
			border-right: 1px solid #e5e5e5;

			&:last-child {
				border-color: transparent;
			}
		}
	}

	.navbar {
		padding: 0;

		@media screen {
			@media (max-width: 767px) {
				padding: 15px 0;
			}
		}

		.container {
			display: block;
		}			

		.navbar-brand {
			padding: 10px 0;
			margin: 0;

			@media screen {
				@media (max-width: 1199px) {
					padding: 10px 30px;
				}

				@media (max-width: 767px) {
					padding: 0 15px;
				}
			}
		}

		.nav-link {
			display: block;
			padding: 0;
			width: 100%;
			font-family: $beba;
			font-size: 19px;
			letter-spacing: 1px;
			color: #242424;
			text-align: center;
			text-transform: uppercase;

			@media screen {
				@media (max-width: 991px) {
					font-size: 17px;
				}
			}

			&:hover, &.active {
				background-color: #f4f4f4;
			}
		}
	}	

	.lang-bar {
		position: absolute;
		top: calc(100% + 54px);
		left: 0;
		right: 0;
		z-index: 1;

		@media screen {
			@media (max-width: 767px) {
				top: calc(100% + 30px);
			}
		}

		li {
			margin: 0 7px;

		 	a {
		 		font-family: $beba;
		 		font-size: 19px;
		 		text-transform: uppercase;

		 		&.active {
		 			color: #93c26f;
		 		}
			} 
		}
	}

	.mobile-nav-wrapper {
		position: fixed;
		top: 0;
		bottom: 0;
		right: -100%;
		max-width: 40%;
		padding: 70px 0 70px 0;
		background: #fff;
		overflow: auto;
		z-index: 100;

		@media screen {
			@media (max-width: 767px) {
				max-width: 90%;
				min-width: 50%;
			}
		}

		.navbar-nav {
			padding: 0 20px;

			li {
				a {
					padding: 5px 10px;
					font-size: 20px;
					text-align: left;

					&:hover {
						background: #fff;
					}
				}

				&.active {
					a {
					  	background-color: #f4f4f4;
					}
				}
			}
		}

		.close-menu {
			position: absolute;
		    top: 15px;
		    right: 20px;
		    width: 32px;
		    height: 32px;
		    background: url(../img/menu-close-ico.svg) 0 0 no-repeat;
		    background-size: 100%;
		    z-index: 101;
		}
	}

	.menu-toggle {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 15px;
		bottom: 0;
		margin: auto 0;
		width: 32px;
		height: 18px;
		cursor: pointer;

		@media screen {
			@media (min-width: 768px) {
			   	display: none;
			}
		}

		.icon {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 35px;
			height: 4px;
			background: #242424;
			backface-visibility: hidden;
			@include transition();

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				width: 35px;
				height: 4px;
				background: #242424;
				backface-visibility: hidden;
				@include transition();
			}	

			&::before {
				top: -9px;
			}	

			&::after {
				top: 9px;
			}
		}
	}
}