@font-face {
    font-family: 'bebasneuebold';
    src: url('../fonts/bebasneuebold.eot');
    src: url('../fonts/bebasneuebold.eot') format('embedded-opentype'),
         url('../fonts/bebasneuebold.woff2') format('woff2'),
         url('../fonts/bebasneuebold.woff') format('woff'),
         url('../fonts/bebasneuebold.ttf') format('truetype'),
         url('../fonts/bebasneuebold.svg#bebasneuebold') format('svg');
}

@import 'functions.scss';

html, body {
    min-height: 100%;
}

body {
    padding: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #242424;
}

textarea:focus, input:focus, select:focus, a:focus {
    outline: none;
}

img {
    max-width: 100%;
	border: none;
}

a {
    color: #242424; 
    @include transition();

    @media screen {
        @media (min-width: 992px) {
            &:hover {
                text-decoration: none;
                color: #93c26f;
            }
        }

        @media (max-width: 991px) {
            &:hover {
                color: #242424; 
                text-decoration: none;
            }
        }
    }
}

ul {
	padding: 0;
	margin: 0;
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

.container {
    @media screen {
        @media (min-width: 1400px) {
            max-width: 1330px;
        }
    }
}

form {
    .form-group {
        margin: 0 0 25px 0;

        &.required {
            label {
                &::after {
                    content: '*';
                    margin: 0 0 0 2px;
                    font-size: 18px;
                    color: #ff0000;
                }
            }
        }
    }

    label {
        display: block;
        padding: 0;
        margin: 0 0 15px 0;
        line-height: normal;
        font-size: 18px;
        font-family: $beba;
        text-transform: uppercase;
    }

    .form-control {
        height: 53px;
        padding: 0 10px;
        border: 1px solid #e5e5e5;
        background: #fff;
        color: #242424;
        font-size: 17px; 
        box-shadow: none;
        -o-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        @include transition();
        @include rounded(0);

        &:focus {
            border-color: #e5e5e5;
            -webkit-box-shadow: inset 0px 9px 10px 0px rgba(0,0,0,0.06);
            -moz-box-shadow: inset 0px 9px 10px 0px rgba(0,0,0,0.06);
            box-shadow: inset 0px 9px 10px 0px rgba(0,0,0,0.06);        
        }

        &::-webkit-input-placeholder { 
            color: #494949;
        }

        &::-moz-placeholder { 
            color: #494949;
        }

        &:-ms-input-placeholder { 
            color: #494949;
        }

        &:-moz-placeholder {
            color: #494949;
        }
    }

    textarea.form-control {
        min-height: 165px;
        padding-top: 10px;
    }
}

.btn {
    &.btn-primary {
        height: 60px;
        min-width: 150px;
        line-height: 60px;
        padding: 0 15px;
        border: 0;
        background-color: #93c26f;
        color: #fff;
        font-size: 18px;
        font-family: $beba;
        text-align: center;
        @include transition();
        @include rounded(0);

        span {
            display: inline-block;

            &::after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                margin: 0 0 0 15px;
                border-style: solid;
                border-width: 6.5px 0 6.5px 7px;
                border-color: transparent transparent transparent #ffffff;
            }
        }

        &:hover {
            background-color: darken(#93c26f, 5%);
        }

        &:not(.disabled) {
            &:active {
                background-color: darken(#93c26f, 5%);
                box-shadow: none;
                -o-box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }

            &:active:focus, &:focus {
                box-shadow: none;
                -o-box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
        }

        &:active {
            top: -3px;
        }
    }

    &.black {
        background-color: #242424;

        &:hover {
            background-color: #000;
        }
    }
}

.owl-carousel {
    img {
        width: auto !important;
        max-width: 100%;
    }

    .owl-nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0.1px;
        margin: auto;

        @media screen {
            @media (max-width: 767px) {
                position: static;
                height: auto;
                margin: 40px 0 0 0;
                text-align: center;    
            }
        }

        .owl-prev,
        .owl-next {
            position: absolute;
            left: 0;
            top: -12px;
            width: 18px;
            height: 24px;
            text-indent: -9999px;
            background: url('../img/sprite.png') 0 0 no-repeat;
            @include transition();

            @media screen {
                @media (min-width: 992px) {
                    &:hover {
                        opacity: .8;
                    }
                }

                @media (max-width: 767px) {
                    position: static;
                    display: inline-block;
                    margin: 0 10px;
                }
            }
        }

        .owl-prev {
            background-position: -6px -4px;
        }

        .owl-next {
            left: auto;
            right: 0;
            background-position: -37px -4px;
        }
    }
}

.breadcrumb-holder {
    padding: 13.5px 20px;
    margin: 0 0 60px 0;
    border: 1px solid #e5e5e5;

    .links {

        @media screen {
            @media (max-width: 767px) {
                margin: 15px 0 0 0;
                -border-left-widthms-flex-pack: center !important;
                justify-content: center !important;
            }
        }

        li {
            margin: 0 17px 0 0;

            &:last-child {
                margin: 0;
            }

            a {
                font-size: 21px;
                font-family: $beba;
                color: #939393;
                text-transform: uppercase;

                &.active, &:hover {
                    color: #242424;
                }
            }
        }
    }
}

.breadcrumb {
    padding: 0;
    margin: 0;
    background: none;
    @include rounded(0);

    .breadcrumb-item {
        font-size: 14px;
        font-weight: 700;

        &.active {
            color: #93c26f;
        } 

        & + .breadcrumb-item {
            padding-left: 17px;

            &::before {
                content: '›';
                padding-right: 17px;
                color: #242424;;
            }
        }
    }

   

     //›
}

@import 'header.scss';
@import 'content.scss';
@import 'footer.scss';