.home #main-footer {
  margin: 0;
}

#main-footer {
  margin: 150px 0 0 0;
  padding: 30px 0;
  background-color: #384257;
  color: #fff;
}

#main-footer .navbar-nav li {
  margin: 0 35px 0 0;
}

#main-footer .navbar-nav li a {
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

#main-footer .navbar-nav li a:hover {
  color: #a1abbe;
}

#main-footer .navbar-nav li:last-child {
  margin: 0;
}

#nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

#nav-overlay.active {
  display: block;
}
